/* General styling for body */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/* Styling for body and HTML elements */
html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 30px solid #06aed5; /* blue border */
}

/* Styling for header and main heading */
header {
  text-align: center;
}

h1 {
  font-weight: bolder;
}

/* Styling for lead paragraphs */
p.lead {
  font-size: 30px;
  font-weight: bold;
}

/* Styling for current day element */
#currentDay {
  color: #ff6961;
  font-size: 40px;
  text-align: center;
}

/* Styling for large container */
.container-lg {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  padding-left: 0; 
  padding-right: 0;
  padding-bottom: 20px;
}

/* Styling for text areas and description */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

/* Styling for time blocks, rows and hours */
.time-block {
  width: 100%;
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

/* Styling for past, present, and future time block */
.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

/* Styling for save buttons and hover effect for save button icon */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* Media queries */

/* Styling for screen width up to 992 px. The border will be alizarin crimson */

@media only screen and (max-width: 992px) {
    
  html, body {
    height: auto;
    margin: 0;
    padding: 0;
    border: 20px solid #E32636;
  }
}
  
  
  /* Stylling for screen width up to 600 px. The border will be crayola green */

  @media only screen and (max-width: 600px) {
  
  html, body {
    height: auto;
    margin: 0;
    padding: 0;
    border: 8px solid #1CAC78;
  }
  
  .container-lg .px-5 {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    padding-left: 0; 
    padding-right: 0;
    padding-bottom: 20px;
    margin-right: 0 ;
    margin: 0px;
  }

  h1 {
    font-size: 20px;
    font-weight: bolder;  
  }

  p.lead {
    font-size: 20px;
    font-weight: bold;
  }

  #currentDay {
    color: #ff6961;
    font-size: 30px;
    text-align: center;
  }

  .hour {
    font-size: 10px;
    font-weight: bold;
    text-align: left;
  }
}
  
  
  
  